<?xml version="1.0"?>
<config>
  <modules>
    <DSL_Productlike>
      <version>0.1.0</version>
    </DSL_Productlike>
  </modules>
  <global>
    <helpers>
      <productlike>
        <class>DSL_Productlike_Helper</class>
      </productlike>
    </helpers>
  </global>
  
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productlike_options>
                                            <title>Store Productlike Section</title>
                                        </productlike_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
  
   <frontend>
               <routers>    
                        <productlike> 
                                <use>standard</use>
                                <args>
                                        <module>DSL_Productlike</module>
                                        <frontName>productlike</frontName>
                                </args>
                        </productlike> 
                </routers>
        <layout>
            <updates>
                <productlike>
                    <file>productlike.xml</file>
                </productlike>
            </updates>
        </layout>
    </frontend>
</config> 